* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f5f7fb;
  color: #1f2937;
}

button {
  cursor: pointer;
  border: none;
}

.app {
  display: flex;
  min-height: 100vh;
}

.main {
  margin-left: 270px;
  width: calc(100% - 270px);
  transition: 0.3s;
}

.collapsed-main {
  margin-left: 80px;
  width: calc(100% - 80px);
}